<!-- About Section -->
<section id="about">
    <h2>About</h2>
    <hr>
    <div class="two-column-container">
        <ul class="two-column-list">
            <li>
                <p>
                    For over a decade I have been bringing visual ideas to life.
                    Whether it be compositing actors into virtual worlds for TV
                    and Film, creating those worlds for players to explore in VR
                    games, or bridging the two with AR content, I've been
                    fortunate enough to play a part in making it happen.
                </p>
            </li>
            <li>
                <p>
                    The creativity involved in each of these different
                    disciplines is something I find very satisfying and there is
                    always more to learn. Some of the things I work on will be
                    posted here and I hope to add some helpful tips in the
                    future for anyone who may be on a similar path.
                </p>
            </li>
        </ul>
    </div>
</section>
