<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-header">About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>For over a decade I have been bringing visual ideas to life.  Whether it be compositing actors into virtual worlds for TV and Film,
           creating those worlds for players to explore in VR games, or bridging the two with AR content, I've been fortunate enough to play a part in making it happen.</p>
      </div>
      <div class="col-lg-4">
        <p>The creativity involved in each of these different disciplines is something I find very satisfying and there is always more to learn.  Some of the things I
          work on will be posted here and I hope to add some helpful tips in the future for anyone who may be on a similar path.
        </p>
      </div>
    </div>
  </div>
</section>
