<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <link
        rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.url }}"
    />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="{{ base.url }}/assets/scripts/navshrink.js" defer></script>
    <script src="{{ base.url }}/assets/scripts/hamburger.js" defer></script>
</head>
