<!-- Portfolio Modals -->

<script>
function slide(id, img){
    let slideValue = document.getElementById(id).value;
    document.getElementById(img).style.clipPath = "polygon(0 0," + slideValue + "% 0," + slideValue + "% 100%, 0 100%)";
    console.log("polygon(0 0," + slideValue + "% 0," + slideValue + "% 100%, 0 100%)");
}
</script>

{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.img %}
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            {{ post.content }}
            {% if post.doimgs %}
              {% for cont in post.doimgs %}
              {% if cont.size > 1 %}
              {% capture contindex %}{{ forloop.index }}{% endcapture %}
              <div class=image-wipe-container>
                {% for img in cont %}
                  <img id="img{{ contindex }}-{{ forloop.index }}" src="img/portfolio/{{ img }}" class="img-responsive img-centered"/>
                {% endfor %}
                <input class="slider" type="range" min="0" max="100" value="50" id="slider{{ forloop.index }}" oninput="slide('slider{{ forloop.index }}', 'img{{ contindex }}-{{ cont.size }}')"/>
              </div>
              {% else %}
              <img src="img/portfolio/{{ cont }}" class="img-responsive img-centered">
              {% endif %}
              {% if post.notes %}
                {% if post.notes.size >= forloop.index0 %}
                <p class="post-notes">{{ post.notes[forloop.index0] }}</p>
                {% endif %}
              {% endif %}
              {% endfor %}
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
