<!-- Proficiencies Section -->
<section class="secondary" id="proficiencies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-header">Proficiencies</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-lg-offset-2">
        <a href="https://blender.org" target="_blank" rel="noreferrer">Blender 3D</a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="https://www.foundry.com/products/nuke-family/nukex" target="_blank" rel="noreferrer">Nuke X</a>
      </div>
      <div class="col-sm-6 col-lg-4 col-lg-offset-2">
        <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank" rel="noreferrer">C++</a>
      </div>
      <div class="col-sm-6 col-lg-4">
        <a href="https://www.adobe.com/products/substance3d-painter.html" target="_blank" rel="noreferrer">Substance Painter</a>
      </div>
      <div class="col-sm-6 col-lg-4 col-lg-offset-2">
        <a href="https://borisfx.com/products/mocha-pro/" target="_blank" rel="noreferrer">Mocha</a>
      </div>
    </div>
  </div>
</section>