<!-- Proficiencies Section -->
<section id="proficiencies">
  <h2>Proficiencies</h2>
  <hr>
  <div class="two-column-container">
    <ul class="two-column-list">
      <li>
        <a href="https://blender.org" target="_blank" rel="noreferrer">Blender 3D</a>
      </li>
      <li>
        <a href="https://www.foundry.com/products/nuke-family/nukex" target="_blank" rel="noreferrer">Nuke X</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank" rel="noreferrer">C++</a>
      </li>
      <li>
        <a href="https://www.adobe.com/products/substance3d-painter.html" target="_blank" rel="noreferrer">Substance Painter</a>
      </li>
      <li>
        <a href="https://borisfx.com/products/mocha-pro/" target="_blank" rel="noreferrer">Mocha</a>
      </li>
    </ul>
  </div>
</section>