<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-US" }}'>
    {% include head.html %}
    <body>
        {% include nav.html %}
        <div class="default-div">
            <ul class="articles">
                <!-- Change the limit if more posts are desired per page -->
                {% for post in site.posts limit:5%}
                <li>
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <ul class="post-details">
                        <li>Posted on <strong>{{ post.date | date: "%b %e %Y" }}</strong></li>
                        <li>{{ post.excerpt }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% include footer.html %}
    </body>
</html>
